<!DOCTYPE html>
<html>
<head>
	<title>Login As</title>
	<link rel="stylesheet" type="text/css"  href="../static/login_css/loginCSS.css">
</head>
<body>
	<div class="login-page">
          <div class="form">
                <form class="login-form" action="Login.htmls">
                  <button>Mentor<a href="Login.html"></a> </button>
                </form>
                <p>  </p>
                <form class="login-form" action="Login.html">
                  <button>Mentee</button>
                </form>

          </div>
	</div>

</body>
</html>